<h1 class="text-center my-5">ADMIN PANNEL</h1>
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card h-100">
                <i style="font-size: 4rem; color: #2ecc71;" class="fas fa-eye"></i>
                <div class="card-body">
                    <h5 class="card-title">View Products</h5>
                    <p class="card-text">Add, delete, or update products.</p>
                    <a href="/admin/view-product" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <i style="font-size: 4rem; color: #f1c40f;" class="fas fa-shopping-cart"></i>
                <div class="card-body">
                    <h5 class="card-title">Add Products</h5>
                    <p class="card-text">Add products.</p>
                    <a href="/admin/add-product" class="btn btn-primary">Add Products</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <i style="font-size: 4rem; color: #2ecc71;" class="fas fa-box"></i>
                <div class="card-body">
                    <h5 class="card-title">Manage Orders</h5>
                    <p class="card-text">View, update, or delete orders.</p>
                    <a href="/admin/view-order" class="btn btn-primary">Manage Orders</a>
                </div>
            </div>
        </div>

        <!-- Repeat for other cards -->
    </div>
</div>