<div class="container">
  <h2 style="text-align: center;">Edit product</h2>
  <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="" name="name">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Category</label>
      <input type="text" class="form-control" id="cat" placeholder="" name="category">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" placeholder="" name="price">
    </div>
    <div class="mb-3">
      <label for="section" class="form-label">Section</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sectionDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Select Section
        </button>
        <ul class="dropdown-menu" aria-labelledby="sectionDropdown">
          <li><a class="dropdown-item" href="#" data-section="Featured">Featured</a></li>
          <li><a class="dropdown-item" href="#" data-section="BestSeller">Best Seller</a></li>
        </ul>
        <input type="hidden" id="selectedSection" name="selectedSection" value="">
      </div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Description</label>
      <input type="text" class="form-control" placeholder="" name="description">
    </div>
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" name="Image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  const imgElement = document.getElementById('myImg');
  const inputElement = document.getElementById('myInput');

  // add event listener to the img element to trigger the file input
  imgElement.addEventListener('click', () => {
    inputElement.click();
  });

  // add event listener to the file input to change the image
  inputElement.addEventListener('change', (event) => {
    const file = event.target?.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => {
      imgElement.setAttribute('src', reader.result);
    };
  });
  $(document).ready(function () {
    $('.dropdown-item').click(function () {
      // Get the selected section name from the data attribute
      var selectedSection = $(this).data('section');

      // Update the hidden input field's value with the selected section name
      $('#selectedSection').val(selectedSection);

      // Update the button's text with the selected section name (optional)
      $('#sectionDropdown').text(selectedSection);
    });
  });
</script>