<section>
    <div class="container">
        <div class="row">
            <div class="md-12  p-5 mt-5" style="text-align: center;" >
                
            <h2>Order placed succesfully !!</h2>
            <a href="/view-orders" class="btn btn-primary">Go to orders</a>
      
            </div>
        </div>
       
    </div>
</section>