<div class="conatiner mt-5">
<form action="/signup" method="post" class="form" id="signUpForm">
  <h1 class="form__title">Create an account</h1>
  <p class="form__subtitle">Please fill in this form to create an account.</p>
  <div class="form__group">
    <label for="name" class="form__label">Name</label>
    <input type="text" class="form__input" placeholder="Enter Name" name="name" id="name" required>
  </div>
  <div class="form__group">
    <label for="email" class="form__label">Email</label>
    <input type="email" class="form__input" placeholder="Enter Email" name="email" id="email" required>
  </div>
  <div class="form__group">
    <label for="password" class="form__label">Password</label>
    <input type="password" class="form__input" placeholder="Enter Password" name="password" id="password" required>
  </div>
  <div class="form__group">
    <input type="checkbox" class="form__checkbox" name="agree" id="agree" required>
    <label for="agree" class="form__checkbox-label">By creating an account you agree to our <a href="#" class="form__link">Terms & Privacy</a>.</label>
  </div>
  <div class="form__group">
    <button type="submit" class="form__button">Sign Up</button>
  </div>
</form>
</div>
<script>
  $(document).ready(function() {
  $('#signUpForm').validate({
    rules: {
      name: {
        required: true,
        minlength: 3
      },
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 8
      },
      agree: {
        required: true
      }
    },
    messages: {
      name: {
        required: "Please enter your name.",
        minlength: "Your name must be at least 3 characters long."
      },
      email: {
        required: "Please enter your email address.",
        email: "Please enter a valid email address."
      },
      password: {
        required: "Please enter your password.",
        minlength: "Your password must be at least 8 characters long."
      },
      agree: {
        required: "Please accept our terms and privacy policy."
      }
    },
    errorClass: 'error',
    errorElement: 'span',
    highlight: function (element) {
        $(element).addClass('error');
    },
    unhighlight: function (element) {
        $(element).removeClass('error');
    },
    errorPlacement: function (error, element) {
        error.appendTo(element.parent());
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>
<style>
  .error {
  color: red;
}
</style>